.focus {
    transition: transform 0.5s;
  }
  
  .focus:hover {
    transform: scale(1.10);
  }
  
  .card-title {
    font-size: 1.2em;
    font-weight: 700;
  }

  .services {
   background-color: rgba(179, 177, 172, 0.9);
    font-size: 15px;
    
    
  }
  
  .image-style {
    width: 3em;
  }
  
  .font-details {
    font-size: 3em;
    font-weight: 500;
    color: #fff;
  }
  
  .font-details-b {
    font-size: 3em;
    font-weight: 500;
    color: #ffffff;
  }
  