@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #df9c0c;
  --primary-dark: rgba(255,255,255,0);
  --primary-green: #228B22;
  --primary-hover-green: #00FF00;
}


body {
  font-family: "Roboto Condensed", sans-serif;
}

/**********Navbar*********/
.logo {
  width: 4rem;
  padding: 0 !important;
  height: 3rem !important;

}

/*---------MENU LINKS--------*/
nav a.nav-link {
  font-size: 0.8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
 
}

@media(max-width: 768px) {
  .navbar-brand {
    width: 7rem;
  }
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);

}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}


/**********Header*********/
.header-wraper {
  position: relative;
  background: url(law-4.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}
.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}

/*-------------Typed------------*/
.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}
@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.5rem !important;
  }
  .typed-text {
    font-size: 1.3rem !important;
  }
}
/*-------------HEADER MAIN OFFER------------*/
.btn-main-offer {
  border: 1PX solid var(--primary-green);
  text-transform: uppercase;
  border-radius: 15px;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-orange);
  margin: 2rem;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-hover-green);
  color: black;
  transition: .2s ease-in-out;
}

.container-box {
  width: 100%;
  background-color: transparent;
  position: relative;
  z-index: 9;
}